@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.change.password.title")) {
<div class="container">
	<h1>@Messages("playauthenticate.change.password.title")</h1>
	<p>
	@form(routes.Account.doChangePassword, 'role -> "form") {

       @if(changeForm.hasGlobalErrors) {
        <p class="alert alert-danger">
          @changeForm.globalError.message
     	</p>
       }

	   @_passwordPartial(changeForm)	

	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">@Messages("playauthenticate.change.password.cta")</button>
		</div>
	</div>
	}
	</p>
</div>
}
