@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.password.forgot.title")) {
<div class="container">
	<h1>@Messages("playauthenticate.password.forgot.title")</h1>
	
	
	@form(routes.Signup.doForgotPassword,  'role -> "form") {

            @if(emailForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @emailForm.globalError.message
		     	</p>
            }
<div class="row">
 <div class="col-xs-offset-1 col-md-10">
	   @_emailPartial(emailForm)
	   </div>
</div>
<br>
<div class="row">
 <div class="col-sm-offset-1 col-md-12">
<button type="submit" class="btn btn-primary">@Messages("playauthenticate.password.forgot.cta")</button>
</div>
</div>
    
	}
	
</div>	
}
