@(f: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

<div class="row">
	<div class="col-md-8">
             @inputPassword(
                f("password"),
                '_label -> Messages("playauthenticate.login.password.placeholder")
             )
</div>
	<div class="col-md-8">
             @inputPassword(
                f("repeatPassword"),
                '_label -> Messages("playauthenticate.login.password.repeat"),
                '_showConstraints -> false,
                '_error -> f.error("password")
             )
	</div>
</div>