@(retoForm: ControllerRetos.FormularioReto,
	nuevoReto : Boolean,
	metricas : List[models.Metrica])
@import helper._

@main("Formulario reto") {
 <div class="container">
	<h1></h1>
	@helper.form(action = routes.ControllerRetos.guardar(nuevoReto)) {
	<fieldset style="padding-left: 1cm;">
		@if(nuevoReto){
		<legend>Reto: Nuevo reto</legend>		
		}else{
		<legend>Reto: @retoForm.nombre</legend>
		}		
		<input name="id" id="id" type="hidden" value="@retoForm.id"/>
		<table class="table">		
			<tr>
				<td width="20%">Nombre:</td>
				<td width="20%"><input placeholder="Máxima velocidad 1" class="form-control" name="nombre" id="nombre" value="@retoForm.nombre"/></td>
				<td width="60%"><em>Agregue un nombre para el reto a configurar. <br>Por ejemplo: "Máxima velocidad 1"</em></td>
			</tr>
			@if(nuevoReto){
			<tr>
				<td>Fecha inicio:</td>
				<td><input  placeholder="2015-10-17" class="form-control" name="fechaIni" id="idFechaIni" type="date" value="@retoForm.fechaIni"/></td>
				<td><em>Agregue una fecha desde donde comenzará a registrarse el reto<br>Por ejemplo: "2015-10-17"</em></td>
			</tr>
			<tr>
				<td>Fecha fin:</td>
				<td><input  placeholder="2015-10-19" class="form-control" name="fechaFin" id="idFechaFin" type="date" value="@retoForm.fechaFin"/></td>
				<td><em>Agregue una fecha hasta donde se tomará registro del reto. <br>Por ejemplo: "2015-10-19"</em></td>
			</tr>	
			}else{
			<tr>
				<td>Fecha inicio:</td>
				<td><input  placeholder="2015-10-17" class="form-control" name="fechaIni" id="idFechaIni" type="date" value="@retoForm.fechaIni.format("yyyy-MM-dd")"/></td>
				<td><em>Agregue una fecha desde donde comenzará a registrarse el reto.<br>Por ejemplo: "2015-10-17"</em></td>
			</tr>
			<tr>
				<td>Fecha fin:</td>
				<td><input  placeholder="2015-10-19" class="form-control" name="fechaFin" id="idFechaFin" type="date" value="@retoForm.fechaFin.format("yyyy-MM-dd")"/></td>
				<td><em>Agregue una fecha hasta donde se tomará registro del reto <br>Por ejemplo: "2015-10-19"</em></td>
			</tr>
			}					
			<tr>
				<td>Métrica:</td>
				<td>
					<select class="form-control"  name="idMetrica">
					 @for(metrica <- metricas){
				        <option value="@metrica.getIdMetrica()" @if(!nuevoReto && retoForm.idMetrica.equals(metrica.getIdMetrica())){selected} >@metrica.getNombreMetrica() [@metrica.getUnidadMedida()]</option>
				     }										
					</select>
				</td>
				<td><em>Agregue el código de la métrica a tomar en el reto.<br>Por ejemplo: "1"</em></td>
			</tr>
			<tr>
				<td>Función:</td>
				<td>
				<select class="form-control"  name="funcion">
					 @for(funcionReto <- models.FuncionReto.values()){
				        <option value="@funcionReto.name()" @if(!nuevoReto && retoForm.funcion.equals(funcionReto.name())){selected} >@funcionReto.getNombre()</option>
				     }										
				</select>
				</td>
				<td><em>Agregue el código de la funcion que se debe aplicar para calcular el cumplimiento del reto. <br>Por ejemplo: "MAX"</em></td>
			</tr>
			<tr>
				<td>Operador:</td>
				<td>
					<select class="form-control"  name="operador">
						<option value=">" @if(">".equals(retoForm.operador)){selected} > > </option>
						<option value=">=" @if(">=".equals(retoForm.operador)){selected}> >= </option>
						<option value="<" @if("<".equals(retoForm.operador)){selected}> < </option>
						<option value="<=" @if("<=".equals(retoForm.operador)){selected}> <= </option>
						<option value="=" @if("=".equals(retoForm.operador)){selected}> = </option>
						<option value="!=" @if("!=".equals(retoForm.operador)){selected}> != </option>											
					</select>
				</td>
				<td><em>Seleccione el operador para calcular el valor del reto. <br>Por ejemplo: ">"</em></td>
			</tr>
			<tr>
				<td>Valor condición:</td>
				<td><input placeholder="20" class="form-control"  name="valorCondicion" id="idValorCondicion" value="@retoForm.valorCondicion"/></td>
				<td><em>Agregue el valor de condición que debe cumplir la métrica, para cumplir el reto <br>Por ejemplo: "20"</em></td>
			</tr>
			<tr>
				<td>Puntaje:</td>
				<td><input placeholder="100" class="form-control"  name="puntaje" id="idPuntaje" value="@retoForm.puntaje"/></td>
				<td><em>Agregue el puntaje que se otorga al cumplir el reto, acumulándolos el usuario reclamara recompensas. <br>Por ejemplo: "500"</em></td>
			</tr>
			<tr>
				<td>Estado:</td>
				<td>
				<select class="form-control"  name="estado">
				@for(estadoReto <- models.EstadoReto.values()){
			        <option value="@estadoReto.getEstado()" @if(!nuevoReto && estadoReto.getEstado().equals(retoForm.estado)){selected} >@estadoReto.getEstado()</option>
			     }
			     </select>
			     </td>
				<td><em>Agregue el estado de disponibilidad para este reto, los valores posibles son "activo" o "inactivo"</em></td>
			</tr>		
		</table>
	</fieldset>
	<br/>
	<input type="submit" class="btn btn-primary" value="Guardar" style="margin-left: 1cm;">
	<a class="btn" href="@routes.ControllerRetos.listarRetos()">Cancelar</a>
	}
	</div>
}