@(lstReto:List[models.RetoUsuario]) 
	
@import helper._

@main("retosConsulta") {

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<div class="wrapper row3">
  <main class="container clear"> 
    <div class="content"> 
         
		<h2>Mis Retos</h2>
		<br>
			<table class="table">
			    <thead>
			        <tr>
			        	<th>Nombre reto</th>
			        	<th>Puntaje Obtenido</th>
						<th>Fecha logro</th>
			            <th>Estado</th>			            
			        </tr>
			    </thead>
			    <tbody>
			        @lstReto.map { reto =>
			        <tr>			        	
						<td>@reto.reto.nombre</td>
						<td>@reto.reto.puntaje</td>
			            <td>@reto.fecha</td>
			            <td>@reto.estado</td>
			        </tr>
			        }
			    </tbody>
			</table>
				
		
	</div>
  </main>
</div>

}